.row
  .col-xs-12
    %form.form-inline(action='/search' method='get')
      .form-group
        .input-group
          %input.form-control(type='search' name='search' value='#{search}' placeholder='search')
          %span.input-group-btn
            %button.btn.btn-default(type='submit')
              %span.glyphicon.glyphicon-search
      .form-group
        .input-group
          %input.form-control(type='search' name='q' value='#{q}' placeholder='feed query term')
          %span.input-group-btn
            %button.btn.btn-default(type='submit')
              %span.glyphicon.glyphicon-refresh

.row
  .col-xs-12(style='margin:.5em')

.row
  .col-xs-12
    - if shows.count == 0 && q
      .alert.alert-info
        No shows found.

    %ul.list-group
      - shows.each do |show|
        %li.list-group-item
          %h4.list-group-item-heading(style='float:left')
            #{show.title}
          %div(style='float:right')
            %a(href='/#{show.title}/#{show.id}?q=#{q}')
              %span.glyphicon.glyphicon-link
          %div(style='clear:both')